<div class="container" *ngIf="bookMarkedWords.length>0">
    <mat-card class="card" *ngFor="let item of bookMarkedWords">
        <mat-card-title style="text-align: center;">
            <a  [href]="navigateTo" (click)="wordClicked(item.word)"
            matTooltip="Click for more details"
            >{{item.word | titlecase}}</a>
            <span style="float: right;margin:10px;color: black;" class="material-symbols-outlined"
             matTooltip="remove from bookmark"
             (click)="removeFromBookMark(item.word)">
                bookmark_added
            </span>
        </mat-card-title>
        <mat-card-content class="content">
            <div>
                <span class="material-symbols-outlined" matTooltip="Volume up" 
                style="color:black" (click)="audioClicked(item.phonetics[0].audio)">
                    volume_up
                </span>
            </div>
            <div *ngIf="item.meanings[0].synonyms">
                <strong>Synonyms : </strong>
                <span >{{item.meanings[0].synonyms[0]}}</span>
            </div>
            <div *ngIf="item.meanings[0].antonyms">
                <strong>antonyms : </strong>
                <span >{{item.meanings[0].antonyms[0]}}</span>
            </div>
        </mat-card-content>
        <mat-card-footer class="footer">
            <strong>Defination :</strong>
            <span>{{item.meanings[0].definitions[0].definition}}</span>
        </mat-card-footer>
    </mat-card>
</div>