<div class="odometer">
    <div>No of words searched : {{counter}}</div>
</div>
<div class="tabs">
    <mat-tab-group class="tab-group" animationDuration="2000ms" selectedIndex="1" >
        <mat-tab label="Bookmarks" >
            <!-- <span class="material-symbols-outlined" style="color:black">
                search
            </span> -->
            <div app-book-marks></div>
        </mat-tab>
        <mat-tab label="Search">
            <div app-search-result class="word-search"></div>
        </mat-tab>
        <mat-tab label="History">
            <div app-search-history></div>
        </mat-tab>
    </mat-tab-group>
</div>